/* Color Palette */
:root {
    --primary-dark: #232946; 
    --primary-light: #b8c1ec; 
    --accent: #c75881; 
    --button-bg: #11062c;
    --button-bg-hover: #785353; 
    --text-light: #fffffe; 
    --border-color: #ccc; 
    --focus-border: #2e2361; 
}

.login-container {
    background-color: var(--primary-dark);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Headings */
h1 {
    color: var(--text-light);
    margin-bottom: 20px;
}

/* Checkbox */
input[type="checkbox"] {
    accent-color: var(--accent);
    transform: scale(1.2);
}

/* Labels */
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-light);
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--primary-light);
    box-sizing: border-box;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: var(--focus-border);
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remember-me input {
    margin-right: 5px;
}

button {
    background-color: var(--button-bg);
    color: var(--text-light);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
    width: 100%;
}

button:hover {
    background-color: var(--button-bg-hover);
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-light);
}

p {
    color: var(--text-light);
}
