/* Color Palette */
:root {
  --primary-dark: #232946;
  --primary-light: #b8c1ec;
  --accent: #c75881;
  --button-bg-delete: #7b4c51;
  --button-bg-delete-hover: #c82333;
  --button-bg-view-details: #ecb8cb;
  --button-bg-view-details-hover: #7d3d54;
  --button-bg-add: #c75881;
  --button-bg-add-hover: #0a1649; 
  --text-light: #ffffff;
  --border-light: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table, th, td {
  border: 1px solid var(--border-light);
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

thead {
  background-color: var(--primary-dark);
  color: var(--text-light);
}

thead th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--primary-light);
}

li {
  margin-bottom: 5px;
  list-style-type: none;
}

input[type="checkbox"] {
  accent-color: var(--accent);
  transform: scale(1.2);
}

button {
  background-color: var(--primary-dark);
  color: var(--text-light);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; 
}

button.delete {
  background-color: var(--button-bg-delete);
}

button.delete:hover {
  background-color: var(--button-bg-delete-hover);
}

button.view-details {
  background-color: var(--button-bg-view-details);
  color: var(--primary-dark);
}

button.view-details:hover {
  background-color: var(--button-bg-view-details-hover);
}

button.add-button {
  background-color: var(--accent);
}

button.add-button:hover {
  background-color: var(--button-bg-add-hover);
}

a.add-button-a {
  text-decoration: none;
  display: inline-block;
  background-color: var(--accent);
  color: var(--text-light);
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

a.add-button-a:hover {
  background-color: var(--button-bg-add-hover);
}
