/* Color Palette */
:root {
  --primary-dark: #232946;
  --primary-light: #b8c1ec;
  --accent: #c75881;
  --button-bg: #ecb8cb;
  --button-bg-hover: #c75881;
  --button-bg-back: #6e6cfc;
  --button-bg-back-hover: #5755d9;
  --text-light: #ffffff;
  --text-dark: #232946;
  --text-muted: #f5f5f5;
  --subtasks-text: #e4dddd; 
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: var(--primary-dark);
  border-left: 1px solid var(--text-muted);
}

#progress-container {
  margin: 10px 0;
}

.time-management {
  padding: 10px 0;
}

#task-progress {
  width: 100%;
  background-color: var(--accent);
  color: var(--text-light);
}

progress::-webkit-progress-bar {
  background-color: var(--primary-light);
}

progress::-webkit-progress-value {
  background-color: var(--accent);
}

progress::-moz-progress-bar {
  background-color: var(--accent);
}

p, label {
  color: var(--text-light);
}

.subtasks ul {
  list-style-type: none;
  padding: 0;
}

.subtasks li {
  margin-bottom: 5px;
  color: var(--subtasks-text);
}

input[type="checkbox"] {
  accent-color: var(--accent);
  transform: scale(1.2);
}

.task-actions {
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: var(--button-bg);
  color: var(--text-dark);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-bg-hover);
}

#complete-task-btn {
  background-color: var(--primary-light);
  width: 100%;
}

#back-btn {
  background-color: var(--button-bg-back);
  margin-bottom: 10px;
  width: 100%;
}

#back-btn:hover {
  background-color: var(--button-bg-back-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-light);
  text-align: left;
}
